
@model IEnumerable<PROG_POE_02.Models.Product>

@{
    ViewBag.Title = "Index";
}
<body style="background-color: #D5DBDB ">
    <h1>Modules Display</h1>
    <h6>Following are the modules that you have added.</h6>
    <a href="/Product/ViewProducts" class="link-primary">Products</a>
    <br />

    @*<input type="search" id="searching" name="q" placeholder="Search...">
        <button>Search</button>*@
    <form method="get" action="/Product/ViewProducts">
        @Html.TextBox("searching")
        <input type="submit" value="submit" />

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Farmer ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Product Type</th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 0; i < Model.ToList().Count; i++)
                    {
                        <tr>
                            <td>@Model.ToList()[i].Product_id</td>
                            <td>@Model.ToList()[i].id</td>
                            <td>@Model.ToList()[i].Product_name</td>
                            <td>@Model.ToList()[i].Product_Description</td>
                            <td>@Model.ToList()[i].Product_Type</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <a href="/Home/Index" class="link-primary">Back</a>
        </form>
</body>
